.cart-container {
  min-height: 100vh;
  margin: 0 6px;
  margin-top: -72px;
  border: 1px solid #ffffff00;
}

.cart-container h1 {
  margin-top: 100px;
  margin-bottom: 40px;
}

.cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}